@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

body {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  margin: 0;
  background: #eb3b34;
}

#logo {
  width: 150px;
  padding: 20px;
    margin-left: 40px;
}

h1 {
  font-size: 62px;
  text-align: center;
  font-size: 110px;
  font-weight: 700;
  color: #eb3b34;
}

.header {
  margin-top: 200px;
  color: #EEE;
  text-shadow: 2px 2px 2px #333;
  font-size: 22px;
  line-height: 34px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}

.sitecontainer {
  width: 100%;
  height: 100%;
  border: 15px solid #eb3b34;
  box-sizing: border-box;
  background: #221f2a;
  background-image: url("../assets/photo1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.areabutton {
  margin-top: 80px;
  margin-bottom: 260px;
  text-align: center;
}

.button {
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    padding: 13px 40px;
    border: 2px solid #eb3b34;
    border-radius: 40px;
    display: inline-block;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    background: 0 0;
    cursor: pointer;
    color: #fff;
}

.button:hover {
  background: #eb3b34;
}


.border-top {
    bottom: auto;
    top: 0;
}

.border-bottom, .border-top {
    width: 100%;
    height: 15px;
    background: #eb3b34;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 101;
}


@media only screen and (max-width: 700px) { 
	h1 {
    font-size: 60px;
  }
  #logo {
    display: block;
    width: 150px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    font-size: 20px;
    line-height: 34px;
    padding-left: 30px;
    padding-right: 30px;
  }
}